{% extends 'shop/basic.html' %}

{% block title %} About Us{% endblock %}

{% block body %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Ecom</h1>
      <p>This is a basic Ecommerce website includes all the core features of an average ecommerce website such as Tracker, Contact support, Search etc. Please do leave back some feedback as this website is on its preliminary stage by submitting a form through contact us.</p>
      <p><a class="btn btn-primary btn-lg" href="/shop/contact/" role="button">Feedback &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-8">
        <h2>Developer</h2>
        <p>Ecom website has been developed from scratch by Ahnaf Sakib ALam, he has just recently graduated and looking for job. Contact him on LinkedIn ...... </p>

      </div>

      <div class="col-md-4">
        <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="ahnafsakibalam"><a class="LI-simple-link" href='https://au.linkedin.com/in/ahnafsakibalam?trk=profile-badge'>Ahnaf Alam</a></div>
         </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>


<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

{% endblock %}
